body {
    background-size: cover;
	background-image: url("../resources/index-background.jpg");
	background-color: grey;
	text-align: center;
}
.content {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.header {
    align-content: center;
    font-family: 'valiant', sans-serif;
    font-size: 50pt;
    background: linear-gradient(transparent, #818e8c, transparent);
}

.footer {
    width: 200px;
    margin: 100px auto;
}

.select {
    font-family: 'Palanquin', sans-serif;
    font-size: 16pt;
    width: 200px;
    height: 50px;
    margin: 5px;
    text-transform: capitalize;
    opacity: .75;

}
